.image {
    width: 110px;
    height: 110px;
    padding: 10px;
    margin-right: 30px;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    justify-content: center;
    align-content: center;
}

.btn {
    width: 80%;
    height: 12%;
    padding: 8px;
    margin-top: 16px;
    background-color: #e04e35;
}

.item-container {
    width: 80%;
    height: 100%;
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 180px;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #763b5b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}