/* index.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    background-color: #763b5b;
    width: 454px;
    height: 454px;
}
.wraper {
    display: flex;
    width: 80%;
    background-color: #763b5b;
    height: 60%;
    flex-direction: column;
}
.item {
    display: flex;
    flex-direction: row;
    border-radius: 25fp;
    border-width: 1px;
    border-color: #ffa094a0;
    margin-bottom: 3%;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #6d000000;
    padding: 8px;
}
.title {
    width: 65%;
    height: 50%;
    padding-left: 12fp;
    font-size: 20fp;
    text-overflow: ellipsis;
}